.footbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1em;
    box-shadow: 0 -2px 5px 2px #FAFAFA;

    span {
        font-size: 0.8em;
    }
}

.hod {
    position: absolute;
    bottom: 24px;
    left: 1em;
    height: 36px;
}