<div class="students">
    <button class="addStudent" (click)="addModal()">
        Añadir Estudiante
    </button>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Grupo</th>
            <th>Responsable</th>
            <th>Contacto</th>
            <th>Fecha de Nacimiento</th>
        </thead>
        <tbody>
            <tr class="group1">
                <td colspan="100">Pequeño Redil</td>
            </tr>
            <tr *ngFor="let student of groupOne" class="sg1" (dblclick)="editModal()">
                <td>{{ student.name }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.parent }}</td>
                <td>{{ student.contact }}</td>
                <td>{{ student.birthday }}</td>
            </tr>
            <tr class="group2">
                <td colspan="100">Simiente Preciosa</td>
            </tr>
            <tr *ngFor="let student of groupTwo" class="sg2">
                <td>{{ student.name }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.parent }}</td>
                <td>{{ student.contact }}</td>
                <td>{{ student.birthday }}</td>
            </tr>
            <tr class="group3">
                <td colspan="100">Sembradores</td>
            </tr>
            <tr *ngFor="let student of groupThree" class="sg3">
                <td>{{ student.name }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.parent }}</td>
                <td>{{ student.contact }}</td>
                <td>{{ student.birthday }}</td>
            </tr>
            <tr class="group4">
                <td colspan="100">Cosechadores</td>
            </tr>
            <tr *ngFor="let student of groupFour" class="sg4">
                <td>{{ student.name }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.parent }}</td>
                <td>{{ student.contact }}</td>
                <td>{{ student.birthday }}</td>
            </tr>
        </tbody>
    </table>
</div>