<div class="rate" [formGroup]="formGroup">
    <div class="achieves">
        <div [ngClass]="{'achieve-card': true, 'card-selected': achieve.name === currentAchievement }" *ngFor="let achieve of achievements" (click)="selectAchievement(achieve.name)">
            <img [src]="achieve.image" width="100px">
            <span>{{ achieve.name }}</span>
            <span class="description">{{ achieve.description }}</span>
            <span class="description" *ngIf="achieve.value !== 1">+{{ achieve.value }} Talentos</span>
            <span class="description" *ngIf="achieve.value === 1">+{{ achieve.value }} Talento</span>
        </div>
    </div>
    <div class="dateSpace">
        <input class="date" type="date" formControlName="date" (change)="checkDay()">
        <select formControlName="service">
            <option [value]="'first'">Primer Culto</option>
            <option *ngIf="enableSecondService" [value]="'second'">Segundo Culto</option>
        </select>
    </div>
    <ngb-accordion class="accordeon">
        <ngb-panel>
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="tab-header">
                    <button class="tab-button" ngbPanelToggle>Pequeño Redil</button>
                    <button class="selectAll" (click)="selectAll('g1')">{{ selectAllName.g1 }}</button>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <table class="students">
                    <tr *ngFor="let student of students.g1" (click)="setAchievement(student._id)">
                        <td>{{ student.name }} {{ student.lastName }}</td>
                        <td *ngIf="!checkAvailability(student._id)">
                            Estudiante ya reportado
                        </td>
                        <td *ngIf="checkAvailability(student._id)"style="text-align: right;">
                            <img [src]="translate2File(achieve)" height="32px" *ngFor="let achieve of student.achievements">
                        </td>
                        <td *ngIf="student.achievements.length !== 0" style="text-align: right"><span class="transform">| {{ student.points }}<i class="bi bi-arrow-right-short"></i>{{ student.preview }}</span></td>
                        <td *ngIf="student.achievements.length === 0" style="text-align: right"></td>
                    </tr>
                </table>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="tab-header">
                    <button class="tab-button" ngbPanelToggle>Simiente Preciosa</button>
                    <button class="selectAll" (click)="selectAll('g2')">{{ selectAllName.g2 }}</button>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <table class="students">
                    <tr *ngFor="let student of students.g2" (click)="setAchievement(student._id)">
                        <td>{{ student.name }} {{ student.lastName }}</td>
                        <td style="text-align: end;">
                            <img [src]="translate2File(achieve)" height="32px" *ngFor="let achieve of student.achievements">
                        </td>
                        <td *ngIf="student.achievements.length !== 0" style="text-align: right"><span class="transform">| {{ student.points }}<i class="bi bi-arrow-right-short"></i>{{ student.preview }}</span></td>
                        <td *ngIf="student.achievements.length === 0" style="text-align: right"></td>
                    </tr>
                </table>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="tab-header">
                    <button class="tab-button" ngbPanelToggle>Sembradores</button>
                    <button class="selectAll" (click)="selectAll('g3')">{{ selectAllName.g3 }}</button>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <table class="students">
                    <tr *ngFor="let student of students.g3" (click)="setAchievement(student._id)">
                        <td>{{ student.name }} {{ student.lastName }}</td>
                        <td style="text-align: end;">
                            <img [src]="translate2File(achieve)" height="32px" *ngFor="let achieve of student.achievements">
                        </td>
                        <td *ngIf="student.achievements.length !== 0" style="text-align: right"><span class="transform">| {{ student.points }}<i class="bi bi-arrow-right-short"></i>{{ student.preview }}</span></td>
                        <td *ngIf="student.achievements.length === 0" style="text-align: right"></td>
                    </tr>
                </table>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="tab-header">
                    <button class="tab-button" ngbPanelToggle>Cosechadores</button>
                    <button class="selectAll" (click)="selectAll('g4')">{{ selectAllName.g4 }}</button>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <table class="students">
                    <tr *ngFor="let student of students.g4" (click)="setAchievement(student._id)">
                        <td>{{ student.name }} {{ student.lastName }}</td>
                        <td style="text-align: end;">
                            <img [src]="translate2File(achieve)" height="32px" *ngFor="let achieve of student.achievements">
                        </td>
                        <td *ngIf="student.achievements.length !== 0" style="text-align: right"><span class="transform">| {{ student.points }}<i class="bi bi-arrow-right-short"></i>{{ student.preview }}</span></td>
                        <td *ngIf="student.achievements.length === 0" style="text-align: right"></td>
                    </tr>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <alert *ngIf="alert.show" [type]="alert.type">{{ alert.msg }}</alert>
    <button class="save" [disabled]="!enableSave" (click)="save()">Guardar</button>
    <i *ngIf="info.show">{{ info.msg }}</i>
</div>