<div class="layout">
    <!-- Top -->
    <div class="top">
        <span class="title">Top Talentos</span>
        <div class="card silver">
            <span class="name">{{ top3Achievements.top.second.name }}</span>
            <span class="lastName">{{ top3Achievements.top.second.lastName }}</span>
            <span class="points">{{ top3Achievements.top.second.points }}</span>
        </div>
        <div class="card gold">
            <span class="name">{{ top3Achievements.top.first.name }}</span>
            <span class="lastName">{{ top3Achievements.top.first.lastName }}</span>
            <span class="points">{{ top3Achievements.top.first.points }}</span>
        </div>
        <div class="card bronze">
            <span class="name">{{ top3Achievements.top.third.name }}</span>
            <span class="lastName">{{ top3Achievements.top.third.lastName }}</span>
            <span class="points">{{ top3Achievements.top.third.points }}</span>
        </div>
    </div>
    <!-- El Tabernáculo -->
    <div class="top">
        <span class="title">El Tabernáculo</span>
        <div class="card silver">
            <span class="name">{{ top3Achievements.tabernaculo.second.name }}</span>
            <span class="lastName">{{ top3Achievements.tabernaculo.second.lastName }}</span>
            <span class="points">{{ top3Achievements.tabernaculo.second.points }}</span>
        </div>
        <div class="card gold">
            <span class="name">{{ top3Achievements.tabernaculo.first.name }}</span>
            <span class="lastName">{{ top3Achievements.tabernaculo.first.lastName }}</span>
            <span class="points">{{ top3Achievements.tabernaculo.first.points }}</span>
        </div>
        <div class="card bronze">
            <span class="name">{{ top3Achievements.tabernaculo.third.name }}</span>
            <span class="lastName">{{ top3Achievements.tabernaculo.third.lastName }}</span>
            <span class="points">{{ top3Achievements.tabernaculo.third.points }}</span>
        </div>
    </div>
    <!-- La vara de Moisés -->
    <div class="top">
        <span class="title">La vara de Moisés</span>
        <div class="card silver">
            <span class="name">{{ top3Achievements.vara.second.name }}</span>
            <span class="lastName">{{ top3Achievements.vara.second.lastName }}</span>
            <span class="points">{{ top3Achievements.vara.second.points }}</span>
        </div>
        <div class="card gold">
            <span class="name">{{ top3Achievements.vara.first.name }}</span>
            <span class="lastName">{{ top3Achievements.vara.first.lastName }}</span>
            <span class="points">{{ top3Achievements.vara.first.points }}</span>
        </div>
        <div class="card bronze">
            <span class="name">{{ top3Achievements.vara.third.name }}</span>
            <span class="lastName">{{ top3Achievements.vara.third.lastName }}</span>
            <span class="points">{{ top3Achievements.vara.third.points }}</span>
        </div>
    </div>
    <!-- El Monte Sinaí -->
    <div class="top">
        <span class="title">El Monte Sinaí</span>
        <div class="card silver">
            <span class="name">{{ top3Achievements.monte.second.name }}</span>
            <span class="lastName">{{ top3Achievements.monte.second.lastName }}</span>
            <span class="points">{{ top3Achievements.monte.second.points }}</span>
        </div>
        <div class="card gold">
            <span class="name">{{ top3Achievements.monte.first.name }}</span>
            <span class="lastName">{{ top3Achievements.monte.first.lastName }}</span>
            <span class="points">{{ top3Achievements.monte.first.points }}</span>
        </div>
        <div class="card bronze">
            <span class="name">{{ top3Achievements.monte.third.name }}</span>
            <span class="lastName">{{ top3Achievements.monte.third.lastName }}</span>
            <span class="points">{{ top3Achievements.monte.third.points }}</span>
        </div>
    </div>
    <!-- El Maná -->
    <div class="top">
        <span class="title">El Maná</span>
        <div class="card silver">
            <span class="name">{{ top3Achievements.mana.second.name }}</span>
            <span class="lastName">{{ top3Achievements.mana.second.lastName }}</span>
            <span class="points">{{ top3Achievements.mana.second.points }}</span>
        </div>
        <div class="card gold">
            <span class="name">{{ top3Achievements.mana.first.name }}</span>
            <span class="lastName">{{ top3Achievements.mana.first.lastName }}</span>
            <span class="points">{{ top3Achievements.mana.first.points }}</span>
        </div>
        <div class="card bronze">
            <span class="name">{{ top3Achievements.mana.third.name }}</span>
            <span class="lastName">{{ top3Achievements.mana.third.lastName }}</span>
            <span class="points">{{ top3Achievements.mana.third.points }}</span>
        </div>
    </div>
    <!-- La tierra Prometida -->
    <div class="top">
        <span class="title">La tierra Prometida</span>
        <div class="card silver">
            <span class="name">{{ top3Achievements.tierra.second.name }}</span>
            <span class="lastName">{{ top3Achievements.tierra.second.lastName }}</span>
            <span class="points">{{ top3Achievements.tierra.second.points }}</span>
        </div>
        <div class="card gold">
            <span class="name">{{ top3Achievements.tierra.first.name }}</span>
            <span class="lastName">{{ top3Achievements.tierra.first.lastName }}</span>
            <span class="points">{{ top3Achievements.tierra.first.points }}</span>
        </div>
        <div class="card bronze">
            <span class="name">{{ top3Achievements.tierra.third.name }}</span>
            <span class="lastName">{{ top3Achievements.tierra.third.lastName }}</span>
            <span class="points">{{ top3Achievements.tierra.third.points }}</span>
        </div>
    </div>
</div>