<div class="navbar">
    <div class="left">
        <img class="logo" src="assets/images/LogoGranja.svg">
        <div class="name">
            <span id="granja">Granja</span>
            <span id="papa">de Papá</span>
        </div>
        <button class="home" (click)="toHome()"><i class="bi bi-house-fill"></i> Inicio</button>
    </div>
    <div class="center">
        <span>Y cualquiera que reciba en mi nombre a un niño como este, a mí me recibe. (Mt 18:5)</span>
    </div>
    <div class="right">
        <span class="user">{{ name }}</span>
        <button class="userButton" (click)="logout()">
            <i class="bi bi-person-circle "></i>
        </button>
    </div>
</div>