<div class="modal-header">
    <h3 *ngIf="!edit">Agregar Maestro</h3>
    <h3 *ngIf="edit">Editar Maestro</h3>
</div>
<div class="modal-body">
    <alert *ngIf="alert.show" [type]="alert.type">{{alert.msg}}</alert>
    <div class="form" [formGroup]="formData">
        <label><span>Nombres</span><input type="text" formControlName="name"></label>
        <label><span>Apellidos</span><input type="text" formControlName="lastName"></label>
        <label><span>Celular</span><input type="text" formControlName="contact"></label>
        <label><span>Correo Electrónico</span><input type="text" formControlName="email"></label>
        <label><span>Género</span>
            <select formControlName="gender">
                <option [value]="'Male'">Masculino</option>
                <option [value]="'Female'">Femenino</option>
            </select>
        </label>
        <label><span>Rol</span>
            <select formControlName="role">
                <option [value]="'Teacher'">Maestro</option>
                <option [value]="'Admin'">Administrador</option>
            </select>
        </label>
        <label><span>Fecha de Nacimiento</span><input type="date" formControlName="birthday"></label>
        <label><span>Usuario</span><input type="text" formControlName="username"></label>
        <label><span>Contraseña</span><input formControlName="password" [type]="passwordVisible ? 'text' : 'password'"><button class="showPass" (click)="showPassword()">Mostrar Contraseña</button></label>
    </div>
</div>
<div class="modal-footer">
    <i *ngIf="info.show">{{info.msg}}</i>
    <button *ngIf="!edit" class="modalButton blue" (click)="add()">Agregar</button>
    <button *ngIf="edit" class="modalButton blue" (click)="editTeacher()">Editar</button>
    <button class="modalButton red" (click)="close()">Cancelar</button>
</div>